# Variáveis de Ambiente para o Servidor
# Siga o guia em PLANETSCALE_GUIDE.md para obter a DATABASE_URL

# A sua chave secreta para JWT. Gere uma em: https://www.uuidgenerator.net/
JWT_SECRET="<sua_chave_jwt_aqui>"

# A URL de conexão do seu banco de dados PlanetScale
DATABASE_URL="mysql://<USUARIO>:<SENHA>@<HOST>/<NOME_DO_BANCO>?sslaccept=strict"

# O ambiente de execução (development ou production)
NODE_ENV=production

# O domínio principal onde o frontend está rodando (opcional)
DOMAIN=https://sistema-tp.vercel.app 